<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<!-- <base href="/base/"/> -->
  <script type="text/javascript">
		(function (window) {
			// 获取html的标签
			var oHtml = document.documentElement;

			// 在页面上来的时候就调用一下
			getSize();

			// 当缩放屏幕时实时计算
			window.addEventListener('resize', function () {
				getSize();
			});

			function getSize() {
				// 获取屏幕的大小
				var screenWidth = oHtml.clientWidth;
				var screenHeight = oHtml.clientHeight;
				if (screenWidth > 640) {
					screenWidth = 640;
				}
				oHtml.style.fontSize = 2 * screenWidth / 7.5 + 'px';
			}
		})(window)
  </script>
</head>
<body>
<div id="app"></div>
<script src="<%= htmlWebpackPlugin.options.vendorJsName %>"></script>
</body>
</html>